@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
 -webkit-appearance: none;
 border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/**--------------------こ--こ--か--ら-------------------**/

body{
    font-family:Tsukushi A Round Gothic;
    color : #331e03;
    line-height: 1.7;
    background-color: #fffcfa;
  }

a {
    text-decoration: none;
  }

header {
    background-image: url(../img/rainbowflower2.png);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header {
    display: flex;
}

h1.logo_sp {
    display: none;
    max-width: 210px;
    height: auto;
	position:fixed;
	top: 26px;
	left: 10px	
}

@media screen and (max-width: 937px) {
    h1.logo_sp {
        display: block;
    }
}

@media screen and (max-width: 937px) {
    .logo img {
        display: none;
    }
}

@media screen and (max-width: 937px) {
    h1.logo {
        display: none;
    }
}

/* ロゴに関するスタイル */

.js-header.-after {
    display : none;
}
.js-header.-before.headerColorScroll {
    display: none;
}
.js-header.-after.headerColorScroll {
    display: block;
}

.header img.event-pic {
    width: 50%;
    height: auto;
    left: 45%;
    top: 130px;
    position: absolute;
}

@media screen and (max-width: 768px) {
    .header img.event-pic {
        width: 300px;
        height: auto;
        left: 55%;
        top: 130px;
        position: absolute;
    }
}

@media (max-width: 659px){
    .header img.event-pic  {
        width: 70%;
        height: auto;
        left: 30%;
        top: 130px;
        position: absolute;  
    }
 }


@media (max-width: 600px){
    .header p  {
        display:none;
    }
}


/*------  メニュー  ------*/

button #nav {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
::before , ::after {
	box-sizing: inherit;
}

button {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: inherit;
	vertical-align: middle;
	text-align: inherit;
	font: inherit;
	-webkit-appearance: none;
	appearance: none;
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.btn {
	/* ボタンの配置位置  */
	position: fixed;
	top: 32px;
	right: 16px;
	/* 最前面に */
    z-index: 100;
	/* ボタンの大きさ  */
	width: 30px;
	height: 30px;
}
/***** 真ん中のバーガー線 *****/
.btn-line {
	display: block;
	/* バーガー線の位置基準として設定 */
	position: relative;
	/* 線の長さと高さ */
	width: 100%;
	height: 3px;
	/* バーガー線の色 */
	background-color: gray;
	transition: .2s;
}
/***** 上下のバーガー線 *****/
.btn-line::before , .btn-line::after {
	content: "";
	/* 基準線と同じ大きさと色 */
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: gray;
	transition: .5s;
}
.btn-line::before {
	/* 上の線の位置 */
	transform: translateY(-16px);
}
.btn-line::after {
	/* 下の線の位置 */
	transform: translateY(16px);
}
/***** メニューオープン時 *****/
.btn-line.open {
	/* 真ん中の線を透明に */
	background-color: transparent;
}
.btn-line.open::before , .btn-line.open::after {
	content: "";
	background-color: gray;
	transition: .2s;
}
.btn-line.open::before {
	/* 上の線を傾ける */
	transform: rotate(45deg);
}
.btn-line.open::after {
	/* 上の線を傾ける */
	transform: rotate(-45deg);
}
/**************** ここまで、ハンバーガーボタンのスタイリング ****************/
/**************** 以下、メニューのスタイリング ****************/

.menu {
	position: fixed;
	/* メニューを縦に */
	display: flex;
	flex-direction: column;
	/* メニューの位置マイナス指定で画面外に */
	right: -100%;
    top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255,0.93);
	color: #efefef;
	transition: .3s;
    z-index: 90;
}

@media (max-width: 937px){
    .menu  {
		padding-top:100px;
		font-size:20px;
    }
}

.menu-list {
	/* メニューテキスト位置をリスト内中心に */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    height: 100%;
    color: #333;
}

@media (max-width: 937px) {
.menu-list {
    height: 13%;
}
}

.menu-list:hover {
	background-color: rgba(255, 255, 255, .1);
	color: #333;
	cursor: pointer;
	transition: .3s;
    transform: translateY(-5px);
}

.menu-list img {
    padding-left: 20px;
}

@media (min-width: 937px){
    .menu-list img  {
        width: 250px;
    }
}

.menu-list a {
    color: #331e03;
}

/***** メニューオープン時位置0にして画面内に *****/
.menu.open {
	right: 0;
}
/* 600px以上はハンバーガーボタン非表示、ヘッダー固定 */
@media screen and (min-width: 937px) {
	.btn {
		display: none;
	}
	.menu {
		/* メニューを横に */
		display: flex;
		flex-direction: row;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100px;
	}
}

@media (min-width: 937px){
    #nav {
        width: 100%;
        display: flex;
        position: fixed;
		z-index:150;
    }
    }
    
    @media (min-width: 937px){
    #nav .menu {
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 90px;
    }
    }
    
    @media (min-width: 937px){
    #nav .logo a {
        display: block;
    }
    }
    
    @media (min-width: 937px){
    #nav .logo a img {
        width: 225px;
        height: auto;
        margin-top:15px;
    }
    }
/**************** ここまで、メニューのスタイリング ****************/


.profile {
    text-align: center;
}

.midashi-tea {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    margin:20px 0;
}

@media (max-width: 650px){
    .midashi-tea  {
        margin-top:50px;
    }
}

img.tea {
    max-width: 100%;
    height: auto;
    max-width: 60%;
    margin: 40px 0;
}

@media (max-width: 800px){
    img.tea {
		max-width: 85%;
        margin: 20px 0;
}
    }

.midashi-tea h3 {
    margin-top: 30px;
    font-size: 22px;
    vertical-align: middle
}

.midashi-tea h3:before {
    content: '';
    display: inline-block;
    width: 150px; /*アイコン画像横サイズ*/
    height: 70px; /*アイコン画像縦サイズ*/
    background: url(../img/kakko-left.svg) no-repeat 50% 50% ; 
    /* その他の設定でスタイル調整 */
    vertical-align: middle
}
.midashi-tea h3:after {
    content: '';
    display: inline-block;
    width: 150px; /*アイコン画像横サイズ*/
    height: 70px; /*アイコン画像縦サイズ*/
    background: url(../img/kakko-right.svg) no-repeat 50% 50% ; 
    vertical-align: middle
}

@media (max-width: 650px){
    .midashi-tea  h3 {
        font-size: 20px;
    }
}

@media (max-width: 650px){
    .midashi-tea h3:before {
	width: 60px; /*アイコン画像横サイズ*/
	height: 60px; /*アイコン画像縦サイズ*/
    }
}

@media (max-width: 650px){
    .midashi-tea h3:after {
	width: 60px; /*アイコン画像横サイズ*/
	height: 60px; /*アイコン画像縦サイズ*/
    }
}

@media (max-width: 425px){
    .midashi-tea h3 {
        font-size: 15px;
    }
}

@media (max-width: 425px){
    .midashi-tea h3:before {
	width: 40px; /*アイコン画像横サイズ*/
	height: 50px; /*アイコン画像縦サイズ*/
    }
}

@media (max-width: 425px){
    .midashi-tea h3:after {
	width: 40px; /*アイコン画像横サイズ*/
	height: 50px; /*アイコン画像縦サイズ*/
    }
}

.tea-pty {
    margin: auto;
    text-align: center;
}


.tea-pty p {
	text-align:center;
    margin:50px;
}

@media screen and (max-width: 770px) {
    .tea-pty p {
    font-size: 14px;
	max-width: 95%;
	line-height:1.5;
	text-align:left;
	margin: 0 50px ;
    }
}

.price dl {
    max-width: 300px;
    margin: 40px auto;
}

.price dd{
	font-size:17px;
    padding-bottom: 20px;
}

@media (max-width: 770px){
    .price dl {
        font-size: 15px;
		margin: 0 0;
    }
}

@media (max-width: 700px){
	.price dd {
	font-size:15px;
    }
}

@media (min-width: 770px){
    .price dl,
    .price dt,
    .price dd {
        text-align: center;
    }
}

@media screen and (max-width: 770px) {
    .price {
    font-size: 15px;
	margin: 15px 50px 40px 50px;
	line-height:1.5;
	text-align:left;
    }
}


.lesson p {
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.midashi-lesson {
    display: flex;
    justify-content: center;
}

.midashi-lesson h3 {
    margin: 50px 0px;
    font-size: 22px;
    vertical-align: middle
}

@media (max-width: 425px){
    .midashi-lesson h3 {
		margin: 0 ;
    }
}

.midashi-lesson h3:before {
    content: '';
    display: inline-block;
    width: 150px; /*アイコン画像横サイズ*/
    height: 70px; /*アイコン画像縦サイズ*/
    background: url(../img/kakko-left.svg) no-repeat 50% 50% ; 
    /* その他の設定でスタイル調整 */
    vertical-align: middle
}
.midashi-lesson h3:after {
    content: '';
    display: inline-block;
    width: 150px; /*アイコン画像横サイズ*/
    height: 70px; /*アイコン画像縦サイズ*/
    background: url(../img/kakko-right.svg) no-repeat 50% 50% ; 
    vertical-align: middle
}

@media (max-width: 650px){
    .midashi-lesson  h3 {
        font-size: 20px;
    }
}

@media (max-width: 650px){
    .midashi-lesson h3:before {
	width: 60px; /*アイコン画像横サイズ*/
	height: 60px; /*アイコン画像縦サイズ*/
    }
}

@media (max-width: 650px){
    .midashi-lesson h3:after {
	width: 60px; /*アイコン画像横サイズ*/
	height: 60px; /*アイコン画像縦サイズ*/
    }
}

@media (max-width: 425px){
    .midashi-lesson  h3 {
        font-size: 15px;
    }
}

@media (max-width: 425px){
    .midashi-lesson h3:before {
	width: 40px; /*アイコン画像横サイズ*/
	height: 50px; /*アイコン画像縦サイズ*/
    }
}

@media (max-width: 425px){
    .midashi-lesson h3:after {
	width: 40px; /*アイコン画像横サイズ*/
	height: 50px; /*アイコン画像縦サイズ*/
    }
}

.basic-lesson h4.title {
    font-size: 22px;
    margin: 50px 50px 20px 50px;
    text-align: center;
}

@media screen and (max-width: 770px) {
    .basic-lesson h4.title {
    font-size: 20px;
    text-align: left;
    }
}

@media screen and (max-width: 425px) {
    .basic-lesson h4.title {
	font-size:16px;
    }
}

.basic-lesson p {
    letter-spacing: 1px;
    text-align: center;
    line-height: 2;
    margin-left:25px;
	margin-right:25px;
}

@media screen and (max-width: 770px) {
    .basic-lesson p {
    font-size: 14px;
	max-width: 85%;
	line-height:1.5;
	text-align:left;
	margin: 30px 50px ;
    }
}

.pro-lesson h4.title {
        font-size: 22px;
        margin: 50px 50px 20px 50px;
        text-align: center;
}

@media screen and (max-width: 770px) {
    .pro-lesson h4.title  {
    font-size: 20px;
    margin-bottom :40px;
    text-align: left;
    }
}

@media screen and (max-width: 425px) {
    .pro-lesson h4.title {
	font-size:16px;
    }
}

.pro-lesson p {
    letter-spacing: 1px;
    text-align: center;
    line-height: 2;
    margin-left:25px;
	margin-right:25px;
}

@media screen and (max-width: 770px) {
    .pro-lesson p {
        font-size: 14px;
        max-width: 85%;
        line-height:1.5;
        text-align:left;
        margin: 30px 50px ;
        }
    }

.midashi-tuning {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.midashi-tuning h3 {
    margin: 50px 0px;
    font-size: 22px;
    vertical-align: middle;
    text-align:center;
}

.midashi-tuning h3:before {
    content: '';
    display: inline-block;
    width: 150px; /*アイコン画像横サイズ*/
    height: 70px; /*アイコン画像縦サイズ*/
    background: url(../img/kakko-left.svg) no-repeat 50% 50% ; 
    /* その他の設定でスタイル調整 */
    vertical-align: middle
}
.midashi-tuning h3:after {
    content: '';
    display: inline-block;
    width: 150px; /*アイコン画像横サイズ*/
    height: 70px; /*アイコン画像縦サイズ*/
    background: url(../img/kakko-right.svg) no-repeat 50% 50% ; 
    vertical-align: middle
}

@media (max-width: 650px){
    .midashi-tuning  h3 {
        font-size: 20px;
        text-align:center;
		margin: 50px 0 20px 0;
    }
}

@media (max-width: 650px){
    .midashi-tuning h3:before {
	width: 60px; /*アイコン画像横サイズ*/
	height: 60px; /*アイコン画像縦サイズ*/
    }
}

@media (max-width: 650px){
    .midashi-tuning h3:after {
	width: 60px; /*アイコン画像横サイズ*/
	height: 60px; /*アイコン画像縦サイズ*/
    }
}

@media (max-width: 425px){
    .midashi-tuning h3 {
        font-size: 15px;
    }
}

@media (max-width: 425px){
    .midashi-tuning h3:before {
	width: 40px; /*アイコン画像横サイズ*/
	height: 50px; /*アイコン画像縦サイズ*/
    }
}

@media (max-width: 425px){
    .midashi-tuning h3:after {
	width: 40px; /*アイコン画像横サイズ*/
	height: 50px; /*アイコン画像縦サイズ*/
    }
}


.tuning-lesson {
    text-align: center;
}



img.lesson {
    max-width: 100%;
    height: auto;
    width: 600px;
    margin: 60px 0 30px 0;
}

@media screen and (max-width: 768px) {
    img.lesson {
        max-width: 80%;
        margin-top:10px;
    }
}



p.p1 {
    text-align: center;
    margin: 40px 0 20px 0;
}

@media screen and (max-width: 770px) {
    p.p1 {
    font-size: 15px;
	margin: 15px 50px 40px 50px;
	line-height:1.5;
	text-align:left;
    }
}

p.p2 {
    text-align: center;
    margin: 20px 0;
}

@media screen and (max-width: 770px) {
    p.p2 {
    font-size: 15px;
	margin: 15px 50px 40px 50px;
	line-height:1.5;
	text-align:left;
    }
}

p.p3 {
    text-align: center;
    margin: 20px 0;
}

@media screen and (max-width: 770px) {
    p.p3 {
    font-size: 15px;
	margin: 15px 50px 40px 50px;
	line-height:1.5;
	text-align:left;
    }
}





.foot-wrap {
    margin-top: 80px;
    background-color: #9fd6d3;
    color: #331e03;
    text-align: center;
    position: absolute;
    width: 100%;
}

@media (max-width: 768px){
    .foot-wrap {
        margin-top: 50px;
    }
}

.foot-wrap a {
    background: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 425px){
    .foot-wrap a  {
    height: 50px;
    width: 50px;
    }
}

.foot-wrap p {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 40px;
}

@media (max-width: 768px){
    .foot-wrap p {
        padding-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 425px){
    .foot-wrap p  {
		font-size: 12px;
		max-width: 80%;
		margin: 0 auto;
		padding-bottom: 20px;
    }
}

.foot-wrap img {
    height: 50px;
    width: 50px;
}

@media (max-width: 425px){
    .foot-wrap img  {
    height: 35px;
    width: 35px;
    }
}

.sns-icon {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
}

@media (max-width: 768px){
    .sns-icon  {
        max-width: 280px;
    }
}

@media (max-width: 425px){
    .sns-icon  {
    max-width: 200px;
    }
}

.sns-icon a {
    transition-duration: .4s;
  }
  .sns-icon a:hover {
    transform: scale(1.1);
  }

.bottom-message p{
    text-align: center;
    letter-spacing: 1px;
    font-size: 28px;
}

@media (max-width: 768px){
    .bottom-message p {
        font-size: 24px;
    }
}

@media (max-width: 425px){
    .bottom-message p  {
		font-size: 16px;

    }
}

.credit p {
    text-align: center;
}

@media (max-width: 425px){
    .credit p   {
		font-size: 10px;
		padding: 0 ;
		margin-bottom:13px;
    }
}